html {
    margin: 0 !important;
}


.carrousel {
    position: absolute;
    // display: none;
    transform: scale(0);
    transition: transform 0.25s;
    height: 50%;
    width: 50%;
    left: 0%;
    border: 3px solid red;

    img {
        width: 50%;
        height: auto;
    }

    z-index: 2;
}

.carrousel--ouvrir {
    transform: scale(1);
}

.carrousel_x {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    border: 1px solid blue;
}