html {
    margin: 0 !important;
}


.carrousel {
    position: absolute;
    // display: none;
    transform: scale(0);
    transition: transform 0.25s;
    height: 50%;
    width: 50%;
    border: 3px solid red;

    z-index: 2;
}

.carrousel--ouvrir {
    transform: scale(1);
}

.carrousel_x {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 3px;
    border: 1px solid blue;
}

.carrousel_figure {
    width: 100%;
    height: 100%;
}

.carrousel_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.lesBtn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}